---
- name: 使用循环批量安装软件
  dnf:
    name: " {{ item }}"
    state: present
  loop:
    - nginx
    - git
    - tree
    - curl

- name: 允许HTTP流量通过防火墙
  firewalld:
    service: http
    permanent: true
    state: enabled
    immediate: true

#情况A：正常模式（部署动态网页）
- name: "[正常模式]部署动态首页"
  template:
    src: index.j2
    dest: /usr/share/nginx/html/index.html
  when: maintenance_mode == false # <--- 只有当变量为 false 时才执行
  notify: 重启nginx服务

#情况B：维护模式（部署维护通告）
- name: "[维护模式]部署维护页面"
  copy:
    content: "<h1>System Maintenance</h1><p>We will be back soon.</p>"
    dest: /usr/share/nginx/html/index.html
  when: maintenance_mode == true # <--- 只有当变量为 true 时才执行
  notify: 重启nginx服务

- name: 确保nginx已启动并开机自启
  service:
    name: nginx
    state: started
    enabled: yes

